/*
    By: Rayan Alkhelaiwi
    For General Assembly's Front-End Web Development
    To-do List Website
*/

body {
    background-color: #00878a;
    color: #89c400;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Exo', sans-serif; */
    display: inline-block;
}