/*
    By: Rayan Alkhelaiwi
    For General Assembly's Front-End Web Development
    To-do List Website
*/

body {
    background-color: #00878a;
    color: #89c400;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Exo', sans-serif; */
    display: inline-block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(125px, auto);
    gap: 24px;
}

.firstColumn {
    padding: 16px;
    background-color: antiquewhite;
}

.column {
    margin: 24px;
}

#results {
    text-align: start;
    font-size: xx-large;
}

input {
    display: block;
    border: 2px solid;
    list-style: none;
    transition: all 0.5s ease;
    margin-bottom: 8px;
    padding: 8px;
    justify-content: center;
}

button {
    display: inline;
    border: 2px solid;
}

li {
    display: flex;
    font-family: 'Exo', sans-serif;
    border: 2px solid #314600;
    color: #89c400;
    background-color: #5d8500;
    list-style: none;
    transition: all 0.5s ease;
    margin-bottom: 8px;
    padding: 8px;
    justify-content: center;
}

li:hover {
    color: #314600;
}

#completeSentence {
    padding: 4px;
}

.completeItem:hover {
    color: #00aa00;
}

.completeItem,
#completeSentence:hover {
    color: #00d800;
    background-color: #008000;
    transition: all 0.5s ease;
}

.deleteItem {
    display: none;
}